<div id="topMediaBanner">
  <ul class="paneBox">
    <li class="articlePane">
      X
    </li>
    <li class="artPane">
      Y
    </li>
    <li class="musicPane">
      Z
    </li>
  </ul>
  <ul class="paneNav">
    <li class="paneNavButton">Articles</li>
    <li class="paneNavButton">Arts</li>
    <li class="paneNavButton">Music</li>
  </ul>
</div>
<h1>Welcome</h1>
<aside class="sidebar">
  <h4>Featured Articles</h4>
  <h4>Featured Arts</h4>
  <h4>Featured Music</h4>
</aside>
<p>In 1858, August Ferdinand Mobius, an aging German mathematician, took a thin strip of paper, gave one end a half twist, and joined the two ends together forming a single round strip with a twist in it. Thus was born, the Mobius Strip.</p>

<p>The Mobius Strip has some unique and mind challenging properties. Lay a portion of the strip flat on a table, place a pen on it, and pull the strip along the pen until the resulting line meets itself at the other end. Now turn the strip over and do the same thing on the other side. Ah ha! There is no other side! The entire surface of the strip has the line drawn on it-inside, outside, and all around. That means that the Mobius Strip has only one side. And if you do the same thing along the edge, you will find it also has only one edge.</p>

<p>According to the laws of the science of Topology, an object that has only one face, and one boundary is two dimensional, so…the Mobius Strip is a two dimensional object in a three dimensional world! Pretty cool, huh!</p>

<p>But this is not simply a cute little novelty item. Its exclusive characteristics have been expressed in complex algebraic and geometric equations, some astronomers believe it replicates the shape of the Universe, it has come to be closely identified with the symbol and concept of Infinity, artists have been inspired by its shape, and mathematicians have spent lifetimes analyzing and formulating why it is what it is, and how it does what it does.</p>

<p>So, with this ticklish yet profound set of values, it can easily be seen why I have chosen it as my moniker. Actually, to tell you the truth, math leaves me cold and incompetent, I stay away from even trying to comprehend Infinity and the Universe, my shape does not inspire, and I hope I’m not ever two dimensional. But still it resonates with me.</p>

<p>Perhaps it’s because, like the Mobius Strip, I have only one face, I’m a little twisted, and I tend to go on and on. OK, that works.</p>

<p>So, click on something already!</p>
