// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#topMediaBanner {
  ul {
    margin: 0 auto;
    width: 100%;
    &.paneBox {
      li {
        height: 208px;
        margin-bottom: 10px;
      }
    }
    li {
      border: 1px solid #91721b;
      border-radius: 3px;
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      width: 32.8%;
    }
    
    li.paneNavButton {
      padding: 6px 0;
    }
  }
}

h1 {
  border-bottom: 1px dotted #333;
  color: #016a1f;
  padding: 0 0 15px 0;
  width: 75%;
}
p {
  font-size: 12pt;
  width: 75%;
}
aside.sidebar {
  float: right;
  position: relative;
  top: -50px;
  width: 20%;
}